* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 3em;
}

.hero  {
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.hero img {
    height: 60%;
    width: 100vw;
    border-radius: 10%;
    box-shadow: 10px 10px 33px 0px rgba(0,0,0,0.5);
    border: thick solid rgba(172, 255, 47, 0.459);
}

#buttonLeft {
    cursor: pointer;
    color: rgba(192, 125, 124, 0.267);
    font-size: 5em;
    margin-left: 10%;
}
#buttonRight {
    cursor: pointer;
    color: rgba(192, 125, 124, 0.267);
    font-size: 5em;
    margin-right: 10%;
}

.textHero{
    color: #611427;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    font-size: xx-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.hero img {
    transform: scale(1);
    transition: transform 0.8s;
}

.hero img:hover {
    transform: scale(1.2);
} 